*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
/* Header section styles */
.header{
    background: url(../images/banner/banner3.png);
    height: 100vh;
    position: relative;
    color: #fff;
    margin-bottom: 130px;
}
.intro{
    position: absolute;
    right: 150px ;
    top: 216px;
    left: 780px;
    text-align: right;
}
.page-title{
    font-size: 60px;
    font-weight: 700;
}
.page-subtitle{
    margin: 32px 0 32px 32px;
    font-size: 16px;
}
.btn-primary{
    padding: 15px 30px;
    font-size: 20px;
    color: #005FAC;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
}
.history{
    color: #000;
}
/* Past history section styles */
.past-history{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    height: 100vh;
    margin: 0 250px 130px 150px;
}
.history-heading{
    font-size: 40px;
    font-weight: 700;
    margin: 24px 0;
    padding: 100px 20px 0 0;
}
.history-desc{
    line-height: 24px;
    margin-bottom: 16px;
}
.history-list{
    margin-left: 5px;
}
.history-item{
    margin-bottom: 8px;
    line-height: 20px;
    list-style: none;
}
.history-item:before{
    content: '✓ ';
    color: #16D887;
    font-weight: 800;
}
/* Plan section styles */
.my-plans{
    margin: 0 130px 180px;
    text-align: center;
}
.plan-title{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
}
.plan-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 130px;
}
.plan-single{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.plan-single img{
    height: 92px;
    width: 92px;
}
.plan-subtitle{
    font-size: 25px;
    font-weight: 700;
}
.plan-desc{
    font-size: 20px;
}
.quote{
    background: url(../images/watch.png),linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
    background-blend-mode: overlay;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: left;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 64px;
    gap: 24px;
}
.quote-head{
    font-size: 40px;
    font-weight: 700;
}
/* Stack section styles */
.prefer-stack {
    margin: 0 130px 180px;
    text-align: center;
  }
  .stack-title {
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 700;
  }
  .stack-desc {
    margin: 0 115px 50px 115px;
    font-size: 18px;
    line-height: 30px;
  }
  .stack-card {
    display: flex;
    gap: 24px;
    text-align: left;
  }
  .card {
    padding:30px;
    background: #ffffff;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
  }
  .card img{
    height: 65px;
    width: 65px;
  }
  .stack-card h3{
      font-size: 20px;
      font-weight: 700;
      color: #181818;
      margin: 30px 0 20px 0;
  }
/* footer section styles */
.footer-section{
    display: flex;
    background-color: #151414;
    color: #fff;
    padding: 0 160px;
    justify-content: space-between;
    align-items: center;
    gap: 180px;
}
.future{
    margin: 0;
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.future-title{
    font-size: 40px;
    font-weight: 700;
}
.future-desc{
    line-height: 26px;
    width: 75%;
}
.social{
    display: flex;
    gap: 20px;
}
.subscribe-form{
    padding-right: 70px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.form-title{
    font-size: 25px;
    font-weight: 700;
}
input[type="email"]{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #fff;
    color: #fff;
    background:transparent;
    margin-bottom: 16px;
}
.btn-secondary{
    color: #fff;
    padding: 15px 30px;
    font-size: 20px;
    background-color: #005FAC;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
}